spring:
  #  profiles:
  #    active: local
  application:
    name: alert-engine

server:
  port: 8080

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN}
    username: ${TELEGRAM_BOT_USERNAME}
    webhook-path: /telegram/webhook